*~
*.o
*.d
wsdl2cpp
*.kdevelop
*.kdevelop.filelist
documentation/
Debug/
*.vcxproj.user
*.suo
~AutoRecover.wsdl2cpp.vcxproj
include/
lib/
test/CMakeFiles/*
test/CMakeCache.txt
test/Makefile
test/cmake_install.cmake
test/runXSDUnitTests
test/runWSDLUnitTests
test/runPathUnitTests
wsdl2cpp.tag

